table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}
th {
    text-align: left;
    padding-left: 5px;
}
td {
    padding: 5px;
}
.ans {
    padding-bottom: 15px;
}
.static{
    position: static;
    padding: 5px;
    border: solid 1px red;
}
.relative{
    left: 20px;
    top: -20px;
    position: relative;
    padding: 5px;
    background: lightgreen;
}
.relative-b{
    position: relative;
    padding: 5px;
    border: 2px solid blue;
}
.fixed{
    left: 0px;
    bottom: 0px;
    position: fixed;
    padding: 5px;
    background: lightpink;
}
.absolute{
    top: 0px;
    left: 0px;
    position: absolute;
    padding: 5px;
    background: rgb(70, 183, 221);
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;
}