body {
    background: #f0f2f5;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
}

a {
    cursor: pointer;
    text-decoration: none;
}

button {
    color: #fff;
    border: none;
    border-radius: 6px;
    line-height: 48px;
    padding: 0 16px;
    font-weight: bold;
    text-align: center;
}

.global {
    position: relative;
    margin: 0 auto;
    zoom: 1;
}

.fb-content {
    display: block;
    min-height: 640px;
    width: auto;
}

.box {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 980px;
    padding-bottom: 132px;
    padding-top: 72px;
}

.l-box, .r-box {
    display: inline-block;
    vertical-align: top;
}

.l-box {
    box-sizing: border-box;
    margin-right: 20px;
    padding-right: 32px;
    padding-top: 112px
}

.r-box {
    height: 456px;
    margin-top: 20px;
    margin-bottom: 20px;    
}

.logo {
    height:106px;
    margin: -28px;
}

.logo-text {
    padding: 0 0 20px;
    margin: 10px 0 0px;
    width: 500px
}

.r-top {
    background-color: #fff;
    width: 396px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin: 40px 0 0;
    padding: 2px 0 28px;
}

.r-top a {
    color: #1877f2;
    font-size: 16px;
    font-weight: 500;
}

input {
    border-radius: 6px;
    border: 1px solid #dddfe2;
    font-size: 19px;
    padding: 14px 16px;
    width: 330px;
    margin-top: 12px;
}

.line {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}

.r-low {
    text-align: center;
    font-size: 16px;
    color: #000;
    padding-top: 15px;
}

.r-low a {
    color: #000;
    font-weight: bold;
}

.login {
    background-color: #1877f2;
    font-size: 22px;
    width: 364px;
    margin-top: 18px;
}

.register {
    font-size: 19px;
    background-color: #42b72a;
    border-color: #42b72a;
}

.fb-footer {
    background-color: #fff;
    padding-top: 20px;
    height: 145px;
}

.footer-cont {
    margin: 0 auto;
    width: 980px;
    color: #737373;
    font-size: 14px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding-left: 10px;
    padding-right: 0px;
}

.list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.more {
    background-color: #f5f6f7;
    border-radius: 2px;
    justify-content: center;
    padding: 0 14px;
    font-size: 14px;
    color:#737373;
    height: 20px;
    line-height: 18px;
}

.footer-line {
    border-bottom: 1px solid #dddfe2;
    font-size: 3px;
    height: 8px;
    margin-bottom: 8px;
}

.copyright {
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
}